/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}





/*********/
/* FONTS */
/*********/
@font-face {
  font-family: minnie;
  src: url(../Fonts/Minnie2.woff2) format('woff2');
  src: url(../Fonts/Minnie.woff) format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  /*algemene zaken*/
  --tekst-kleur: #000000;
  --achtergrond-licht: #ffffff;
  --achtergrond-donker: #000000;
  --border-donker: #000000;
  --border-licht: #ffffff;
  --accent-donker: #000000;
  --accent-licht: #ffffff;

  /*radio en kast*/
  --radio-kleur: #808080;
  --kast-kleur: #deb887;
  --kast-accent-kleur: #b8860b;

  /*linkjes*/
  --link-kleur: #000000;
  --link-visited: #483d8b;
  --link-hover: #778899;
  --link-active: #2f4f4f;

  /*buttons*/
  --button-kleur: #000000;
  --button-hover: #d3d3d3;
  --button-focus: #d3d3d3;
  --button-active: #ffffff;
  --button-playing: #514c4c;
  --button-after: #d3d3d3;
}





/**********/
/* OVERIG */
/**********/
html, body {
  height:100%;
  margin:0;
}

button:not([disabled]) {
  cursor:pointer;
}





/***************/
/* BODY HEADER */
/***************/
body > header > h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  font-family: 'minnie', Arial, Helvetica, sans-serif;
  font-size: 2em;
  color: var(--accent-licht);
}

body > header > h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 6.5%;
  z-index: 999;
  font-family: minnie;
  font-size: 1em;
}





/***********/
/* MAIN OL */
/***********/
main > ol {
  position:fixed;
  top:0;
  left:0;
  margin:0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  display: flex;
}





/**********************/
/* EERSTE LI / SCHERM */
/**********************/
main > ol > li {
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background-size: cover;
  background-image: url("../images/Huiskamer1.png");
  display: flex;
  scroll-snap-align: center;
}





/*********/
/* RADIO */
/*********/
main > ol > li > section {
  position: absolute;
  background-color: var(--radio-kleur);
  border-style: solid;
  border-color: var(--radio-kleur);
  border-radius: 15%;
  width: 9em;
  height: 5em;
  top: 13%;
  left: 9%;
  cursor: pointer;
}

main > ol > li > section > section:first-of-type {
  position: absolute;
  background-image: radial-gradient(var(--radio-kleur) 2%, var(--accent-donker));
  width: 4em;
  height: 4em;
  top: 0.5em;
  left: 0.4em;
  border-style: solid;
  border-color: var(--accent-donker);
  border-radius: 70%;
}

main > ol > li > section > section:last-of-type {
  position: absolute;
  background-color: var(--achtergrond-donker);
  width: 0.9em;
  height: 1.6em;
  border-style: solid;
  border-radius: 20%;
  top: -1.6em;
  right: 1.2em; 
}

/*radio buttons*/
main > ol > li > section > button {
  background-color: var(--achtergrond-donker);
  width: 1.5em;
  height: 1.5em;
  border-style: solid;
  border-radius: 70%;
  border-color: black;
  border-width: 0.1em;
  padding:0;
}

/*radio button 1*/
main > ol > li > section > button:first-of-type {
  position: absolute;
  left: 6em;
  top: 3.8em;
}

main > ol > li > section > button:first-of-type:hover {
  border-color: var(--button-hover);
}

main > ol > li > section > button:first-of-type:focus {
  background-color: var(--button-focus);
  border-color: var(--button-focus);
}

main > ol > li > section > button:first-of-type:active {
  background-color: var(--button-active);
  border-color: var(--accent-licht);
}

/* Hulp gehad van Sanne*/
main > ol > li > section > button:first-of-type.playing {
  background-color: var(--button-playing);
  border-color: var(--button-playing);
}

/* Hulp gehad van Sanne*/
main > ol > li > section > button:first-of-type.playing::after {
  content:"♪";
  color: var(--button-after);
  filter:
    drop-shadow(0 0 1px var(--button-after))
    drop-shadow(0 0 2px var(--button-after));
}

main > ol > li > section > button:last-of-type {
  position: absolute;
  left: 8em;
  top: 3.8em;
}

/*muziek animatie*/
@keyframes muziek {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(-3deg);
  }

  75% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(0);
  }
}

.muziek:hover {
  animation-name: muziek;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.muziek {
  display: none;
}





/*********************************/
/* SCHERM 1 LINK VOLGENDE PAGINA */
/*********************************/
main > ol > li > a:link {
  position: absolute;
  right: 2em;
  top: 47%;
  width: 2em;
  height: 2em;
  background-color: var(--achtergrond-donker);
  border-style: solid;
  border-width: 0.2em;
  border-radius: 60%;
  border-color: var(--border-donker);
  text-align: center;
  padding: 0.1em;
}
  
main > ol > li > a:visited {
  background-color: var(--link-visited);
  border-color: var(--link-visited);
} 
  
main > ol > li > a:hover {
  background-color: var(--link-hover);
  border-color: var(--accent-licht);
}
  
main > ol > li > a:active {
  background-color: var(--link-active);
}





/*********************************/
/* KAST MET LIJSTEN EN ANIMATIES */
/*********************************/

/*hulp gehad van Sanne bij planken in de kast*/
main > ol > li:nth-of-type(1) > ol {
  position: absolute;
  background-color: var(--kast-kleur);
  background-image: linear-gradient(
    transparent 0% calc(33.3% - .15em), 
    var(--kast-accent-kleur) calc(33.3% - .15em) calc(33.3% + .15em),
    transparent calc(33.3% + .15em) calc(66.7% - .15em),
    var(--kast-accent-kleur) calc(66.7% - .15em) calc(66.7% + .15em),
    transparent calc(66.7% + .15em) 100%
  );
  padding: 0;
  border-style: solid;
  border-radius: 5%;
  border-width: 0.3em;
  border-color: var(--kast-accent-kleur);
  height: 20em;
  right: 10.5%;
  bottom: 15%;
  width: 16em;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: .3em;
  list-style-type: none;
}

main > ol > li:first-of-type > ol > li {
  background-color: var(--achtergrond-licht);
  border-style: solid;
  border-color: var(--border-donker);
  border-width: 0.4rem;

  justify-self: center;
  align-self:end;
  cursor: pointer;
}

main > ol > li:first-of-type > ol > li img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display:block;
}

@keyframes kastlijsten {
  0% { 
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
} 

/*lijst1*/
main > ol > li:first-of-type > ol > li:nth-of-type(1) {
  grid-column-start:1;
  grid-column-end:3;
  grid-row-start:1;
  grid-row-end:1;
  
  height: 5em;
  width: 8em;
}  

 .planeCrazy:hover {
  animation-name: kastlijsten;
  animation-duration:0.5s;
  animation-fill-mode: forwards;
} 

/*lijst2*/
main > ol > li:first-of-type > ol > li:nth-of-type(2) {
  grid-column-start:2;
  grid-column-end:4;
  grid-row-start:2;
  grid-row-end:2;

  height: 5em;
  width: 9em;
}

.bandConcert:hover {
  animation-name: kastlijsten;
  animation-duration:0.5s;
  animation-fill-mode: forwards;
} 

/*lijst3*/
main > ol > li:first-of-type > ol > li:nth-of-type(3) {
  grid-column-start:1;
  grid-column-end:2;
  grid-row-start:3;
  grid-row-end:3;

  height: 5em;
  width: 4em;
}  

.simpleThings:hover {
  animation-name: kastlijsten;
  animation-duration:0.5s;
  animation-fill-mode: forwards;
} 

/*lijst4*/
main > ol > li:first-of-type > ol > li:nth-of-type(4) {
  grid-column-start:2;
  grid-column-end:3;
  grid-row-start:3;
  grid-row-end:3;

  height: 5em;
  width: 4em;
}  

.clubhouse:hover {
  animation-name: kastlijsten;
  animation-duration:0.5s;
  animation-fill-mode: forwards;
} 





/**********/
/* MICKEY */
/**********/
main > ol > li > img {
  position: absolute;
  right: 25%;
  height: 20em;
  width: 20em;
  top: 45%;
  z-index: 1;
}





/**************************/
/* VERSTOPTE TEKSTBLOKKEN */
/**************************/
.verstopt2 {
  display:block;
  position: absolute;
  left: 2%;
  top: 3%;
  width: 10%;
  height: 20%;
  z-index: 1;
  transform-style: preserve-3d;
}

.schilderij1, .schilderij2, .schilderij3, .schilderij4, .kast1, .kast2, .kast3, .kast4 {
  display: none;
}

.verstopt {
  display: block;
  position: absolute;
  background-color: var(--achtergrond-licht);
  font-family: arial;
  border-style: solid;
  border-radius: 60%;
  border-color: var(--border-donker);
  border-width: 0.8em;
  left: 10%;
  top: 23%;
  width: 30%;
  height: 60%;
  z-index: 1;
  transform-style: preserve-3d;
  padding: 4em;
  font-size: 14.5px;
  text-align: center;
  box-shadow: 0em 0em 0.8em var(--accent-donker);
}

.oortje1, .oortje2 {
  width: 14em;
  height: 14em;
  background-color: var(--achtergrond-donker);
  border-style: solid;
  border-radius: 70%;
  border-color: black;
  border-width: 0.1em;
  transform: translateZ(-1em);
  box-shadow: 0em 0em 0.8em var(--accent-donker);
}

.oortje1 {
  position: absolute;
  left: -5em;
  top: -5em;
}

.oortje2 {
  position: absolute;
  right: -5em;
  top: -5em;
}





/**********************/
/* TWEEDE LI / SCHERM */
/**********************/
main > ol > li:last-of-type {
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  background-size: cover;
  background-image: url("../images/Woonkamer2.png");
  display: inline-flex;
  scroll-snap-align: center;
}





/******************************/
/* SCHERM 2 LINK PAGINA TERUG */
/******************************/
main > ol > li:last-of-type > a:link {
  position: absolute;
  left: 2em;
  top: 47%;
  width: 2em;
  height: 2em;
  background-color: var(--achtergrond-donker);
  border-style: solid;
  border-width: 0.2em;
  border-radius: 60%;
  border-color: var(--border-donker);
  padding-top: 0.2em;
}
  
main > ol > li > a:visited {
  background-color: var(--link-visited);
  border-color: var(--link-visited);
} 
  
main > ol > li > a:hover {
  background-color: var(--link-hover);
  border-color: var(--border-licht);
}
  
main > ol > li > a:active {
  background-color: var(--link-active);
}





/************/
/* VIDEO TV */
/************/
main > ol > li:last-of-type > video {
  position: absolute;
  width: 20%;
  height: 25%;
  left: 12em;
  top: 33.5%;
  border-style: solid;
  border-color: var(--border-donker);
  border-width: 1em;
  border-radius: 0.4em;
  background-color: black;
}





/*************************/
/* GALERIJ MET ANIMATIES */
/*************************/
main > ol > li:last-of-type > ol {
  position: absolute;
  list-style-type: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  top: 10%;
  right: 4%;
  bottom: 40%;
  height: 21em;
  width: 35em;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 0.5em;
  column-gap: 1.4em;
  list-style-type: none;
}

main > ol > li:last-of-type > ol > li img {
  height: 100%;
  width: 100%;
  object-fit: cover; 
  display:block;
}

main > ol > li:last-of-type > ol > li {
  position: absolute;
  background-color: var(--achtergrond-licht);
  border-style: solid;
  border-color: var(--border-donker);
  border-width: 0.4rem;
  cursor: pointer;
}

@keyframes schilderijen {
  0% { 
    transform: rotate(0);
  }

  25% {
    transform: rotate(3deg);
  }

  50% {
    transform: rotate(-3deg);
  }

  75% {
    transform: rotate(3deg);
  }

  100% {
    transform: translatex(0);
  }
}

/*schilderij1*/
main > ol > li:last-of-type > ol > li:nth-of-type(1) {
  grid-column-start:1;
  grid-column-end:3;
  grid-row-start:1;
  grid-row-end:2;
  
  height: 10em;
  width: 14em;
}  

.braveLittleTailor:hover {
  animation-name: schilderijen;
  animation-duration:0.8s;
}

/*schilderij2*/
main > ol > li:last-of-type > ol > li:nth-of-type(2) {
  grid-column-start:3;
  grid-column-end:4;
  grid-row-start:1;
  grid-row-end:2;

  height: 10em;
  width: 14em;
}  

.fantasia:hover {
  animation-name: schilderijen;
  animation-duration:0.8s;
}

/*schilderij3*/
main > ol > li:last-of-type > ol > li:nth-of-type(3) {
  grid-column-start:2;
  grid-column-end:3;
  grid-row-start:2;
  grid-row-end:2;

  height: 10em;
  width: 14em;
}  

.christmasCarol:hover {
  animation-name: schilderijen;
  animation-duration:0.8s;
}

/*schilderij4*/
main > ol > li:last-of-type > ol > li:nth-of-type(4) {
  grid-column-start:4;
  grid-column-end:5;
  grid-row-start:2;
  grid-row-end:2;

  height: 10em;
  width: 14em;
}  

.mickeyMouseWorks:hover {
  animation-name: schilderijen;
  animation-duration:0.8s;
}